{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Agenda
{% endblock %}

{% block body %}
    <div class="card">
        <a href="{% url 'core:create_task' %}?{{ date_data.create_task_query }}">Create task</a>
    </div>
    {% if dates %}
        {% for formatted_date, date_data in dates %}
            <fieldset class="spaced interior-box">
                <legend><h2>{{ formatted_date }}</h2></legend>
                {% for task in date_data.tasks %}
                    {% include 'core/components/cards/task.html' with task=task %}
                {% endfor %}
                <div class="card">
                    <a href="{% url 'core:create_task' %}?{{ date_data.create_task_query }}">Create task</a>
                </div>
            </fieldset>
        {% endfor %}
    {% else %}
        <p>No tasks yet.</p>
    {% endif %}
{% endblock %}
