{% extends 'core/base.html' %}

{% block title_block %}
    agenda
{% endblock %}

{% block body_block %}
    <h1>Agenda</h1>

    <div id="content">
        <div class="agenda_day">
            <h1>Date</h1>
            <ul>
                <li> to do </li>
                <li> to do </li>
                <li> to do </li>
            </ul>

            <p style = "color:red;"> add task + </p>
        </div>

                <div class="agenda_day">
            <h1>Date</h1>
            <ul>
                <li> to do </li>
                <li> to do </li>
                <li> to do </li>
            </ul>

            <p style = "color:red;"> add task + </p>
        </div>

                <div class="agenda_day">
            <h1>Date</h1>
            <ul>
                <li> to do </li>
                <li> to do </li>
                <li> to do </li>
            </ul>

            <p style = "color:red;"> add task + </p>
        </div>
    </div>
{% endblock %}