{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
    <title>{% block title %}Helpy{% endblock %}</title>
</head>
<body>
    {% block navigation_bar %}
        {% include 'core/components/navigation-bars/app.html' %}
    {% endblock %}

    <div class="main-content">
        {% block body %}
        {% endblock %}
    </div>

    {% block scripts %}
    {% endblock %}
</body>
</html>