{% extends 'core/base.html' %}

{% block title_block %}
    Calendar
{% endblock %}

{% block body_block %}
    <h1>Calendar</h1>

    <div id="content">
        <div id = "calendar">
            <div class = "calendar_day">
                <h1>date</h1>
                <div>day content </div>
            </div>


            <div class = "calendar_day">
                <h1>date</h1>
                <div>day content </div>
            </div>


            <div class = "calendar_day">
                <h1>date</h1>
                <div>day content </div>
            </div>


            <div class = "calendar_day">
                <h1>date</h1>
                <div>day content </div>
            </div>


            <div class = "calendar_day">
                <h1>date</h1>
                <div>day content </div>
            </div>

            {% comment %} We'll need to write  a js script to populate this{% endcomment %}
        </div>
{% endblock %}