:root {
    --background: #000000;
    --primary: rgb(255, 255, 255);
    --primary-glow: rgba(255, 255, 255, 0.5);
    --primary-dim: rgb(30, 30, 30);

    background-color: var(--background);
}

[data-theme="dark"] {
    --background: #111111;
    --text: #ffffff;
    --border: #ffffff;
    --shadow: #ffffff;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: 'DejaVu Sans Mono', monospace;
    color: var(--primary);
    text-shadow: 0 0 2px var(--primary-glow);
}

.logo {
    font-size: 4ch;
}

.spaced {
    margin: 1ch;
}

h1 {
    margin: 1px;
    font-size: 2.5ch;
}

h2 {
    margin: 1px;
    font-size: 2ch;
}

a:hover {
    outline: 1px solid var(--primary)
}
