:root {
    --background: #000000;
    --background-hover: #050505;
    --text: orange;
    --primary: #fdbe02;
    --primary-focus: #ffbe02;
    --primary-surrounded-text: #000000;
    --border: #000000;
    --shadow: #000000;
    --danger: #d32f2f;          
    --danger-hover: #b71c1c;
    --danger-surrounded-text: #ffffff;
    --dropdown: #f0f0f0;
    --dropdown-hover: #e0e0e0;

    --header-height: 70px;

    background-color: var(--background);
}

[data-theme="dark"] {
    --background: #111111;
    --text: #ffffff;
    --border: #ffffff;
    --shadow: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    letter-spacing: 0.02em;
    line-height: 1.4;
    font-family: 'JetBrains Mono', monospace;
    color: var(--text);
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
}
